@model bai3.ViewModels.HomeViewModel
<div class="panel panel-info panel-prod">
	<div class="panel-heading panel-heading-prod"><i class="fa fa-spinner fa-spin"></i> @Model.TeaCateProds.NameCat</div>
	<div class="panel-body">
		<div class="row">
			@foreach (var item in Model.TeaProds)
			{
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="~/images/products/@item.Img1" class="img-rounded"
							 alt="@item.NamePro">
						<div class="caption">
							<h4>@item.NamePro</h4>
							<p>Giá: @string.Format("{0:N0}", item.Price) VNĐ</p>
							<p>
								<a href="san-pham/@item.Link-@item.IdPro" class="btn
btn-info" role="button"><i class="fa fa-rocket"></i> Chi tiết</a>
							</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
	<div class="panel-footer">
		<p class="more-prod">
			<a href="@Model.TeaCateProds.Link-
@Model.TeaCateProds.IdCat">Xem thêm sản phẩm...</a>
		</p>
	</div>
</div>
<div class="panel panel-danger panel-prod">
	<div class="panel-heading panel-heading-prod"><i class="fa fa-spinner fa-spin"></i> @Model.CoffeeCateProds.NameCat</div>
	<div class="panel-body">
		<div class="row">
			@foreach (var item in Model.CoffeeProds)
			{
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="~/images/products/@item.Img1" class="img-rounded"
							 alt="@item.NamePro">
						<div class="caption">
							<h4>@item.NamePro</h4>
							<p>Giá: @string.Format("{0:N0}", item.Price) VNĐ</p>
							<p>
								<a href="san-pham/@item.Link-@item.IdPro" class="btn
btn-info" role="button"><i class="fa fa-rocket"></i> Chi tiết</a>
							</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
	<div class="panel-footer">
		<p class="more-prod">
			<a href="@Model.CoffeeCateProds.Link-
@Model.CoffeeCateProds.IdCat">Xem thêm sản phẩm...</a>
		</p>
	</div>
</div>